.btn {
    background-color: #1C02BD;
    color: #ffff;
    font-weight: 700;
    border-radius: 10px;
}

.viewMore {
    padding: 8px 15px;
    background-color: #1C02BD;
    color: #ffff;
    border: 2px solid #ffff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
}

/* Section Title */

.SectionHeading {
    color: #1C02BD;
    font-size: 54px;
    font-weight: 700px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
}

.sectionSubHeading {
    font-size: 17px;
    width: 545px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

/* My Ads */
.myAddImg {
    width: 280px;
    height: 170px;
}

/* banner */
.banner {
    background-image: url(../src/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Grid Section */

.grass {
    background-image: url(../src/assets/grass.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.camel {
    background-image: url(../src/assets/camel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.goat {
    background-image: url(../src/assets/goat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.sheep {
    background-image: url(../src/assets/sheep.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.cow {
    background-image: url(../src/assets/cow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}