.btn {
    background-color: #1C02BD;
    color: #ffff;
    font-weight: 700;
    border-radius: 10px;
}

.viewMore {
    padding: 8px 15px;
    background-color: #1C02BD;
    border: 2px solid white;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
}

.shopNow {
    background-color: #1C02BD;
    color: #ffff;
    font-weight: 600;
    text-transform: uppercase;
    width: 390px;
    height: 60px;
    border-radius: 8px;
    border: 0;
}

.availableBullet {
    font-size: 10px;
    margin-bottom: 2px;
}

.availableBtn {
    height: 35px;
    color: #13A710;
}

.shopNowHeart {
    font-size: 60px;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    color: rgb(255, 158, 174);
}

/* Section Title */

.SectionHeading {
    color: #1C02BD;
    font-size: 54px;
    font-weight: 700px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
}

.sectionSubHeading {
    font-size: 17px;
    width: 545px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

/* slider */
.sliderImg {
    width: 100%;
    height: 640px;
}

.overlay {
    box-shadow: inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.sliderText {
    color: #fff;
    margin-top: 220px;
    margin-left: 100px;
}

/* My Ads */
.myAddImg {
    width: 280px;
    height: 170px;
}

/* banner */
.banner {
    background-image: url(../src/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Grid Section */

.grass {
    background-image: url(../src/assets/grass.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.camel {
    background-image: url(../src/assets/camel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.goat {
    background-image: url(../src/assets/goat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.sheep {
    background-image: url(../src/assets/sheep.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.cow {
    background-image: url(../src/assets/cow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
}

.detailsBanner {
    height: 450px;
    background-image: url(../src/assets/camel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.searchBar {
    width: 680px;
    height: 60px;
    margin-top: -30px;
    background-color: #ffff;
    border-radius: 10px;
}

.searchSection {
    display: flex;
    justify-content: center;
}

.searchButton {
    background-color: #1C02BD;
    border: 0;
    color: #ffff;
    padding: 0 20px;
    font-size: 25px;
    margin-right: -5px;
    z-index: 5;
    border-radius: 8px 0 0 8px;
}

.searchIcon {
    margin-bottom: 8px;
}

.locationBtn {
    background-color: #ffff !important;
    border: 0 !important;
    color: black !important;
    height: 58px;
    margin-right: -15px;
}

.locationBorder {
    border: 1px solid rgb(218, 218, 218);
    height: 40px;
    margin-top: 10px;
}

.locationDropdown {
    background-color: #fff !important;
}

.locationIcon {
    color: #E65050;
    font-size: 23px;
}

.detailsBannerText {
    margin-top: 180px;
}